
.circle-gray {
  width:1%;
  padding:22px 22px;
  margin:0 auto;
  border:2px solid #a1a1a1;
  border-radius:25px;
  background-color:gray;
}
.circle-blue {
  width:1%;
  padding:22px 22px;
  margin:0 auto;
  border:2px solid #a1a1a1;
  border-radius:25px;
  background-color:blue;
}
.circle-red {
  width:1%;
  padding:22px 22px;
  margin:0 auto;
  border:2px solid #a1a1a1;
  border-radius:25px;
  background-color:red;
}
